/*
Auteur : Thomas DANGER
Mise en forme Projet 2 : Reservia
*/


/* -----------------------  Définition des polices perso  ----------------------- */


@font-face{
    font-family: 'Raleway-Light';
    src: url('police/static/Raleway-Light.ttf');
}

@font-face{
    font-family: 'Raleway-Medium';
    src: url('police/static/Raleway-Medium.ttf');
}

@font-face{
    font-family: 'Raleway-Bold';
    src: url('police/static/Raleway-Bold.ttf');
}

@font-face{
    font-family: 'Raleway-ExtraBold';
    src: url('police/static/Raleway-ExtraBold.ttf');
}


/* -------------------------  Elements principaux de la page ------------------------ */ 


body{
    font-family: 'Raleway-Medium';
    width: 1450px;
    margin: auto;
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
    body{
        width: 100%;
    }
}

/* tablet */
@media screen and (min-width: 480px) and (max-width: 1024px){
    body{
        width: auto;
    }
}

/* link*/
a{
    text-decoration: none;
}

a:link, a:visited{
    color: black;
}

/* rating stars */
.fa-star{
    color: #F2F2F2;
}

.checked{
    color: #0065FC;
}


/* -------------------------------  Header  ---------------------------------- */ 


.header{
    display: flex;
    flex-direction: column;
    padding: 30px 50px 0 50px;;
}



/* mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
    .header{
        padding: 30px 0 0 0px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
}


/* ---------------------------------  Navigation ------------------------------ */


/* blue color */
.nav__link:hover, .nav__link a:hover, .nav__login a{
    color: #0065fc;
}

/* nav */

.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.nav__link, .nav__login{
    padding: 30px 25px;
    font-size: 1.1em;
}

.nav__logo{
    width: 75%;
    padding: 0px;
}

.nav__logo img{
    width: 100px;
    height: 50px;
}

.nav__link:hover{
    border-top: 3px solid #0065fc;
    padding-top: 27px;
}

.nav__login a{
    font-weight: bold;
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
    .nav ul{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav__logo{
        width: 50%;
        padding-left: 20px;
    }
    .nav__link, .nav__login{
        padding: 20px 0;
    }
    .nav__link{
        border-bottom: 3px solid #f2f2f2;
        text-align: center;
        width: 50%;
    }
    .nav__login{
        padding-right: 20px;
    }
    nav ul :nth-child(1){
        order: 1;
    }
    .nav ul :nth-child(2){
        order: 3;
    }
    .nav ul :nth-child(3){
        order: 4;
    }
    .nav ul :nth-child(4){
        order: 2;
    }
    .nav__link:hover{
        border-top: none;
        border-bottom: 3px solid #0065fc;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}


/* --------------------------------  Heading  ------------------------------ */


.heading{
    display: flex;
    flex-direction: column;
}

.heading__title{
    font-family: 'Raleway-ExtraBold';
    font-size: 1.3em;
    margin: 10px 0px;
}

.heading__description{
    font-family: 'Raleway-Light';
    font-size: 1em;
    margin: 0 0 10px 0;
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
    .heading{
        padding: 0 30px 0 20px;
    }
}

/* ---------------------------------  Main  -------------------------------- */


main{
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
    main{
        flex-direction: column;
        padding: 0px;
    }
}

/* ----------------------------------  Aside  ------------------------------ */


/* Search */

.search-filters{
    flex-basis: 100%;
}

.search{
    display: flex;
}

.search__logo{
    background-color: #F2F2F2;
    border-radius: 15px 0px 0 15px ;
    padding: 15px;
}

.search__input{
    margin-left: 0px;   
}

.search__input input{
    height: 46px;
    padding-left: 15px;
    font-family: 'Raleway-ExtraBold';
    font-size: 1.1em;
    border: 1px solid #F2F2F2;
}

.search__button-small{
    display: none;
}

.icon-search{
    font-family: FontAwesome !important;
}

.search__button input{
    height: 50px;
    padding: 14px;
    font-family: 'Raleway-ExtraBold';
    font-size: 1.1em;
    color: white;
    background-color: #0065FC;
    border: 1px solid black;
    border-radius: 0 15px 15px 0;
}

.search__button input:hover{
    cursor: pointer;
}

.search__button input:focus{
    outline: none;
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
    .search-filters{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-filters{
        order: 1;
    }
    .search{
        width: 90%;
    }
    .search__input{
        width: 100%;
    }
    .search__input input{
        width: 100%;
    }
    .search__button-small{
        display: inline-block ;
    }
    .search__button-large{
        display: none;
    }
    .search__button input{
        border-radius: 15px;
    }
}

/* Filters */

.filters{
    display: flex;
    margin-top: 20px;
}

.filters__title{
    display: inline;
    margin: 1px 50px 1px 0;
    padding-top: 10px;
}

.filters__flex{
    display: flex; 
}

.filters__button{
    border: 3px solid #f2f2f2;
    border-radius: 20px;
    background-color: white;
    font-family: 'Raleway-ExtraBold';
    font-size: 1em;
    margin-right: 50px;
    padding:0 20px 0 0;
    border-left-style: none;
}

.filters__button i {
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    margin-right: 10px;
    outline: none;
}

.filters__button:hover{
    background-color: #deebff;
    cursor: pointer;
}

.filters__button:focus{
    outline: none;
}

/* icons */ 
.fa-money-bill-wave{
    padding:12px 10px;
}

.fa-child{
    padding:12px 14px;
}

.fa-heart{
    padding:12px;
}

.fa-dog{
    padding:12px 11px;
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
    .filters{
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
    }
    .filters__flex{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 200px;
        width: 100%;
        margin-top: 20px;
    }

    .filters__button{
        margin: 0 0 10px 0;
        padding: 0px 15px 0px 0;
        font-size: 1.1em;
        border-radius: 40px;
    }
    .filters__button i {
        font-size: 1.1em;
    }
}


/* Infos */
.search-filters__info{
    margin: 40px 0;
}

.fa-info{
    color: #0065FC;
    border: 2px solid #deebff;
    border-radius: 50%;
    margin-right: 5px;
    padding: 5px 8px;
    font-size: 0.7em;
}

.search-filters__info p{
    display: inline;
    padding: 3px;
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
    .search-filters__info{
        width: 90%;
        margin: 10px 0;
        display: flex;
        align-content: flex-start;
    }
    .search-filters__info__title{
        margin: 0px;
    }
    .fa-info{
        font-size: 1em;
        margin-bottom: 12px;
    }
}

/* -----------------------  Article Hebergement à Marseille  ---------------------- */ 


.hostel-section{
    background-color: #F2F2F2;
    border-radius: 25px;
    flex-grow: 3;
    max-width: 800px;
    height: 560px;
    margin: 0 50px 30px 0;
    padding: 30px 40px;
} 

.hostel-section__heading{
    font-family: 'Raleway-ExtraBold';
    font-size: 1.5em;
    margin: 10px 0 20px 0;
}

.hostel-section__flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* carte d'hotel*/
.hostel-prev{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 6px 6px #F2F2F2;
    width: 30%;
    margin: 10px 0 20px 0;
    padding: 5px;
}

.hostel-prev__image{
    width: 100%;
    margin: 0;
}

.hostel-prev__image img{
    width: 100%;
    height: 100%;
    max-height: 110px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.hostel-prev__heading, .hostel-prev__price, .hostel-prev__rating{
    margin: 0 0 5px 0;
    padding: 0 0 0 10px;
}

.hostel-prev__heading{
    font-family: 'Raleway-Bold';
}

.hostel-section__footer{
    font-family: 'Raleway-Bold';
    font-size: 1.1em;
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
    .hostel-section{
        order: 3;
        background-color: white;
        max-width: 100%;
        width: 100%;
        height: 1400px;
        border-radius: 0px;
        margin: 20px 0 0 0;
        padding: 0px;
    }
    .hostel-section__heading{
        padding-left: 20px;
    }
    
    .hostel-section__flex{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 90%;
        margin: 0 0 30px 0;
        padding: 0px;
    }
    .hostel-prev{
        width: 90%;
        padding: 5px;
        margin: 0px;
    }
    .hostel-section__footer{
        padding-left: 15px;
    }
}


/* ------------------------  Article Les plus populaires  ----------------------- */


.popular-section{
    background-color: #F2F2F2;
    border-radius: 25px;
    flex-grow: 1;
    max-width: 450px;
    height: 620px;
    max-height: 620px;
}

.popular-section__flex{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 0 20px 0;
    align-items: center;
}

.popular-section__heading__flex{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.popular-section__heading{
    font-family: 'Raleway-ExtraBold';
    display: inline;
    margin: 0px;
    font-size: 1.5em;
}
.fa-chart-line{
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px 0 0 0;
}

/* carte d'hotel */
.hostel-popular{
    background-color: white;
    border-radius: 20px;
    height: 150px;
    width: 90%;
}

.hostel-popular a{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.hostel-popular__image{
    width: 40%;
    height: 100%;
    margin: 5px;
}

.hostel-popular__image img{
    width: 130px;
    height: 100%;
    max-height: 140px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.hostel-popular__heading, .hostel-popular__price, .hostel-popular__rating{
    width: 45%;
}

.hostel-popular__heading{
    font-family: 'Raleway-Bold';
    font-size: 1em; 
    margin: 16px 0 10px 0;
}

.hostel-popular__price{
    margin: 0px;
    font-size: 0.9em;  
    margin-bottom: 30px;
}

.hostel-popular__rating{
    margin: 0px;
    padding-left: 0px;
}

.fa-star{
    font-size: 0.7em;
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
    .popular-section{
        max-width: 100%;
        width: 100%;
        order: 2;
        border-radius: 0px;
        margin-top: 20px;
    }
    .popular-section__flex{
        width: 100%;
        margin: 0px;
        align-items: center;
        padding: 0px;
    }
    .hostel-popular{
        width: 90%;
    }
}

/* ------------------------  Article Activités à Marseille  ------------------------- */ 


.activities-section{
    flex-basis: 100%;
    margin-bottom: 50px;
    height: 500px;
}

.activities-section__heading{
    font-family: 'Raleway-ExtraBold';
    font-size: 1.5em;
}

.activities-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 85%;
}

/* carte d'hotel*/
.activity-prev{
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 0px 3px 6px 6px #F2F2F2;
    height: 45%;
    width: 22%;
}

.activity-prev-small{
    height: 35%;
}

.activity-prev-medium{
    height: 55%;
}

.activity-prev-high{
    height: 100%;
}

.activity-prev__image{
    margin: 0px;
    height: 75%;
}

.activity-prev-small__image{
    height: 68%;
}

.activity-prev-medium__image{
    height: 80%;
}

.activity-prev-high__image{
    height: 88%;
}

.activity-prev__image img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    object-position: 100%;
}

.activity-prev__caption{
    font-family: 'Raleway-Bold';
    font-size: 1.1em;
    padding-left: 20px;
    margin-top: 12px;
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
    .activities-section{
        order: 4;
        height: 1400px;
        width: 100%;
        max-width: 100%;
        margin-bottom: 100px;
    }
    .activities-section__heading{
        margin: 15px 0 10px 0;
        padding-left: 15px;
    }
    .activities-flex{
        width: 100%;
        height: 100%;
        margin: 0px;
        justify-content: space-around;
        align-items: center;
    }
    .activity-prev{
        width: 92%;
        height: 200px;
        margin: 0px;   
    }
    .activity-prev__image{
        height: 80%;
    }
    .activity-prev__image img{
        height: 100%;
    }
}

/* ----------------------------------  Footer ----------------------------------- */


.footer{
    background-color: #F2F2F2;
    display: flex;
    padding: 0 150px 30px 50px;
}

.footer section{
    flex-grow: 1;
    margin-top: 30px;
}

.footer h3{
    font-family: 'Raleway-Bold';
    font-size: 1.3em;
}

.footer ul{
    list-style: none;
    padding: 0;
}

.footer li{
    margin-bottom: 12px;    
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
    .footer{
        flex-direction: column;
        padding: 0 0 30px 30px;
    }
    .footer section{
        margin-top: 0px;
    }
}