/*
Auteur : Thomas DANGER
Mise en forme Projet 2 : Reservia
*/


/* -----------------------  Définition des polices perso  ----------------------- */


@font-face{
    font-family: 'Raleway-Light';
    src: url('police/static/Raleway-Light.ttf');
}

@font-face{
    font-family: 'Raleway-Medium';
    src: url('police/static/Raleway-Medium.ttf');
}

@font-face{
    font-family: 'Raleway-Bold';
    src: url('police/static/Raleway-Bold.ttf');
}

@font-face{
    font-family: 'Raleway-ExtraBold';
    src: url('police/static/Raleway-ExtraBold.ttf');
}


/* -------------------------  Elements principaux de la page ------------------------ */ 


body{
    font-family: 'Raleway-Medium';
    width: 90em;
    margin: auto;
}

/* mobile et tablette*/
@media screen and (max-width: 600px){
    body{
        width: 100%;
    }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px){
    body{
        width: 100%;
    }
}

/* link*/
a{
    text-decoration: none;
}

a:link, a:visited{
    color: black;
}

/* rating stars */
.fa-star{
    color: #F2F2F2;
}

.checked{
    color: #0065FC;
}


/* -------------------------------  Header  ---------------------------------- */ 


.header{
    display: flex;
    flex-direction: column;
    padding: 1.9em 3.1em 0 3.1em;;
}



/* mobile */
@media screen and (max-width: 600px){
    .header{
        padding: 1.9em 0 0 0;
        flex-wrap: wrap;
        margin-bottom: 1.25em;
    }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px){
    .header{
        padding: 1em 0 0 0;
    }
}


/* ---------------------------------  Navigation ------------------------------ */


/* blue color */
.nav__link:hover, .nav__link a:hover, .nav__login a{
    color: #0065fc;
}

/* nav */

.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav__link, .nav__login{
    padding: 1.9em 1.6em;
    font-size: 1.1em;
}

.nav__logo{
    width: 75%;
    padding: 1em 0 0 0;
}

.nav__logo img{
    width: 6.3em;
    height: 3.1em;
}

.nav__link:hover{
    border-top: 0.2em solid #0065fc;
    padding-top: 1.72em;
}

.nav__login a{
    font-weight: bold;
}

/* mobile */
@media screen  and (max-width: 600px){
    .nav ul{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1.5em;
    }
    .nav__logo{
        width: 50%;
        padding: 0.5em 0 0 1.2em;
    }
    .nav__link, .nav__login{
        padding: 1.2em 0;
    }
    .nav__link{
        border-bottom: 0.2em solid #f2f2f2;
        text-align: center;
        width: 50%;
    }
    .nav__login{
        padding-right: 1.2em;
    }
    .nav ul :nth-child(2){
        order: 1;
    }
    .nav ul :nth-child(3){
        order: 2;
    }
    .nav__link:hover{
        border-top: none;
        border-bottom: 0.2em solid #0065fc;
        padding-bottom: 1.2em;
        padding-top: 1.2em;
    }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px){
    .nav__logo{
        width: 50%;
        padding: 0.5em 0 0 1.2em;
    }
    
    .nav__logo img{
        width: 7.3em;
        height: 4.1em;
    }
    .nav__link, .nav__login{
        font-size: 1.2em;
    }
}


/* --------------------------------  Heading  ------------------------------ */


.heading{
    display: flex;
    flex-direction: column;
}

.heading__title{
    font-family: 'Raleway-ExtraBold';
    font-size: 1.3em;
    margin: 0.6em 0;
}

.heading__description{
    font-family: 'Raleway-Light';
    font-size: 1em;
    margin: 0 0 0.6em 0;
}

/* mobile */
@media screen and (max-width: 600px){
    .heading{
        width: 90%;
        margin: auto;
    }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px){
    .heading{
        padding: 0 0 0 1.2em;
        margin-bottom: 1em;
    }
    .heading__description{
    font-size: 1.2em;
    }
}


/* ---------------------------------  Main  -------------------------------- */


main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 3.1em;
}

/* mobile */
@media screen and (max-width: 600px){
    main{
        flex-direction: column;
        padding: 0;
    }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px){
    main{
        flex-direction: column;
        padding: 0 2em 0 2em;
    }
}
/* ----------------------------------  Aside  ------------------------------ */


/* Search */

.search-filters{
    flex-basis: 100%;
}

.search{
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
}

.search__logo{
    background-color: #F2F2F2;
    border-radius: 0.9em 0 0 0.9em ;
    padding: 1em;
    margin: 0;
    font-size: 1.2em;
}

.search__input{
    height: 2.9em;
    padding-left: 1em;
    font-family: 'Raleway-ExtraBold';
    font-size: 1.1em;
    border: 1px solid #F2F2F2;
    margin: 0;   
}

.search__button-small{
    display: none;
}

.search__button {
    height: 3.1em;
    padding: 0.9em;
    font-family: 'Raleway-ExtraBold';
    font-size: 1.1em;
    color: white;
    background-color: #0065FC;
    border: 0.1em solid black;
    border-radius: 0 0.9em 0.9em 0;
}

.search__button:hover{
    cursor: pointer;
}

.search__button:focus{
    outline: none;
}

/* mobile */
@media screen and (max-width: 600px){
    .search-filters{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        order: 1;
    }
    .search{
        width: 90%;
        margin: auto;
    }
    .search__input{
        width: 100%;
    }
    .search__button-small{
        display: inline-block ;
    }
    .search__button-large{
        display: none;
    }
    .search__button input{
        border-radius: 1em;
    }
}


/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px){
    .search-filters{
        width: 100%;
        flex-direction: column;
    }
}

/* Filters */

.filters{
    display: flex;
    margin-top: 1.2em;
}

.filters__title{
    display: inline;
    margin: 0.1em 3.1em 0.1em 0;
    padding-top: 0.6em;
}

.filters__flex{
    display: flex; 
}

.filters__button{
    border: 0.2em solid #f2f2f2;
    border-radius: 1.2em;
    background-color: white;
    font-family: 'Raleway-ExtraBold';
    font-size: 1.1em;
    margin-right: 3.1em;
    padding:0 1.2em 0 0;
    border-left-style: none;
}

.filters__button i {
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    margin-right: 0.6em;
    outline: none;
}

.filters__button:hover{
    background-color: #deebff;
    cursor: pointer;
}

.filters__button:focus{
    outline: none;
}

/* icons */ 
.fa-money-bill-wave{
    padding:0.8em 0.6em;
}

.fa-child{
    padding:0.8em 0.88em;
}

.fa-heart{
    padding:0.8em;
}

.fa-dog{
    padding:0.8em 0.7em;
}

/* mobile */
@media screen and (max-width: 600px){
    .filters{
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
        margin: 1.5em auto 0 auto;
    }
    .filters__flex{
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 12.5em;
        width: 100%;
        margin-top: 1.2em;
    }

    .filters__button{
        margin: 0 0 0.6em 0;
        padding: 0 0.9em 0 0;
        font-size: 1.1em;
        border-radius: 2.5em;
    }
    .filters__button i {
        font-size: 1.1em;
    }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px){
    .filters{
        flex-wrap: wrap;
    }
    .filters__flex{
        flex-wrap: wrap;
    }
    .filters__button{
        margin-top: 1em;
    }
}

/* Infos */

.search-filters__info{
    margin: 2.5em 0;
}

.fa-info{
    color: #0065FC;
    border: 0.13em solid #deebff;
    border-radius: 50%;
    margin-right: 0.3em;
    padding: 0.3em 0.5em;
    font-size: 0.8em;
}

.search-filters__info p{
    display: inline;
}

/* mobile */
@media screen and (max-width: 600px){
    .search-filters__info{
        width: 90%;
        margin: 0.8em auto;
        display: flex;
        align-content: flex-start;
    }
    .search-filters__info__title{
        margin: 0;
    }
    .fa-info{
        font-size: 0.7em;
        padding: 0.8em;
        margin: 0 1em 1em 0;
    }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px){
    .fa-info{
        font-size: 1.2em;
    }
    .search-filters__info__title{
        font-size: 1.2em;
    }
}


/* -----------------------  Article Hebergement à Marseille  ---------------------- */ 


.hostel-section{
    background-color: #F2F2F2;
    border-radius: 1.6em;
    flex-grow: 3;
    max-width: 49em;
    height: 35em;
    margin: 0 0 1.8em 0;
    padding: 1.8em 2em;
} 

.hostel-section__heading{
    font-family: 'Raleway-ExtraBold';
    font-size: 1.5em;
    margin: 0.6em 0;
}

.hostel-section__flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.25em;
}

/* carte d'hotel*/
.hostel-prev{
    background-color: white;
    border-radius: 1.25em;
    box-shadow: 0 0.19em 0.38em 0.38em #F2F2F2;
    width: 30%;
    margin: 0.6em 0 1.25em 0;
    padding: 0.31em;
}

.hostel-prev__image{
    width: 100%;
    height: 100%;
    max-height: 7em;
    border-radius: 1.25em 1.25em 0 0;
    object-fit: cover;
    margin: 0;
}

.hostel-prev__heading, .hostel-prev__price, .hostel-prev__rating{
    margin: 0 0 0.31em 0;
    padding: 0 0 0 0.63em;
}

.hostel-prev__heading{
    font-family: 'Raleway-Bold';
}

.hostel-section__footer{
    font-family: 'Raleway-Bold';
    font-size: 1.1em;
}

/* mobile */
@media screen and (max-width: 600px){
    .hostel-section{
        order: 3;
        background-color: white;
        max-width: 100%;
        width: 100%;
        height: 88em;
        border-radius: 0;
        margin: 1.25em 0 0 0;
        padding: 0;
    }
    .hostel-section__heading{
        padding-left: 1em;
        font-size: 1.4em;
    }
    
    .hostel-section__flex{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 90%;
        margin: 0 0 1.88em 0;
        padding: 0;
    }
    .hostel-prev{
        width: 85%;
        padding: 0.31em;
        margin: 0;
    }
    .hostel-section__footer{
        width: 85%;
        margin: auto;
        display: block;
    }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px){
    .hostel-section{
        width: 100%;
        max-width: 100%;
        height: 38em;
        padding: 0;
        order: 3;
    }
    .hostel-section__heading{
        padding: 0.5em 0 0 1.2em;
        margin-bottom: 0.5em;
    }
    .hostel-section__flex{
        justify-content: space-around;
        margin-bottom: 0.8em;
    }
    .hostel-prev{
        width: 28%;
    }
    .hostel-section__footer{
        margin: 0 0 0 1.2em;
        font-size: 1.2em;
    }
}


/* ------------------------  Article Les plus populaires  ----------------------- */


.popular-section{
    background-color: #F2F2F2;
    border-radius: 1.6em;
    flex-grow: 1;
    max-width: 28em;
    height: 35em;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding: 1.8em 0;
}

.popular-section__heading__flex{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.popular-section__heading{
    font-family: 'Raleway-ExtraBold';
    display: inline;
    margin: 0;
    font-size: 1.5em;
}
.fa-chart-line{
    font-size: 1.4em;
    font-weight: bold;
    margin: 0.31em 0 0 0;
}

/* carte d'hotel */
.hostel-popular{
    background-color: white;
    border-radius: 1.25em;
    height: 9.4em;
    width: 90%;
}

.hostel-popular a{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.hostel-popular__image{
    width: 40%;
    height: 100%;
    max-height: 8.8em;
    border-radius: 1.25em 0 0 1.25em;
    object-fit: cover;
    margin: 0.31em;
}

.hostel-popular__heading, .hostel-popular__price, .hostel-popular__rating{
    width: 45%;
}

.hostel-popular__heading{
    font-family: 'Raleway-Bold';
    font-size: 1em; 
    margin: 1em 0 0.63em 0;
}

.hostel-popular__price{
    margin: 0;
    font-size: 0.9em;  
    margin-bottom: 1.88em;
}

.hostel-popular__rating{
    margin: 0;
    padding-left: 0;
}

.fa-star{
    font-size: 0.7em;
}

/* mobile */
@media screen and (max-width: 600px){
    .popular-section{
        max-width: 100%;
        width: 100%;
        order: 2;
        border-radius: 0;
    }
    .popular-section__heading{
        font-size: 1.3em;
    }
    .hostel-popular{
        width: 90%;
    }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px){
    .popular-section{
        width: 100%;
        max-width: 100%;
        order: 2;
        margin-bottom: 2.5em;
    }
    .hostel-popular a{
        justify-content: space-around;
    }
    .hostel-popular__image{
        width: 50%;
    }
    .hostel-popular__heading{
        font-size: 1.4em;
        margin: 0;
    }
    .hostel-popular__price{
        font-size: 1.2em;
        margin: 0;
    }
    .hostel-popular__rating{
        font-size: 1em;
    }
}


/* ------------------------  Article Activités à Marseille  ------------------------- */ 


.activities-section{
    flex-basis: 100%;
    margin-bottom: 3.1em;
    height: 32em;
}

.activities-section__heading{
    font-family: 'Raleway-ExtraBold';
    font-size: 1.5em;
}

.activities-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 85%;
    width: 100%;
}

/* carte d'hotel*/
.activity-prev{
    border: 0.1em solid #F2F2F2;
    border-radius: 1.25em;
    box-shadow: 0 0.2em 0.4em 0.4em #F2F2F2;
    height: 45%;
    width: 23%;
    margin-right: 2em;
}

.activity-prev-small{
    height: 35%;
}

.activity-prev-medium{
    height: 55%;
}

.activity-prev-high{
    height: 100%;
}

.activity-prev__image{
    height: 75%;
    width: 100%;
    border-top-right-radius: 1.25em;
    border-top-left-radius: 1.25em;
    object-fit: cover;
    object-position: 100%;
    margin: 0;
}

.activity-prev-small__image{
    height: 68%;
}

.activity-prev-medium__image{
    height: 80%;
}

.activity-prev-high__image{
    height: 88%;
}

.activity-prev__caption{
    font-family: 'Raleway-Bold';
    font-size: 1.1em;
    padding-left: 1.25em;
    margin-top: 0.75em;
}

/* mobile */
@media screen and (max-width: 600px){
    .activities-section{
        order: 4;
        height: 88em;
        width: 100%;
        max-width: 100%;
        margin-bottom: 6.25em;
    }
    .activities-section__heading{
        margin: 0.9em 0 0.6em 0;
        padding-left: 0.9em;
        font-size: 1.4em;
    }
    .activities-flex{
        width: 100%;
        height: 100%;
        margin: 0;
        justify-content: space-around;
        align-items: center;
    }
    .activity-prev{
        width: 85%;
        height: 12.5em;
        margin: 0;   
    }
    .activity-prev__image{
        height: 75%;
    }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px){
    .activities-section{
        width: 100%;
        height: 50em;
        margin: 1em 0 2em 0;
        order: 4;
    }
    .activities-flex{
        flex-direction: row;
        height: 90%;
    }
    .activity-prev{
        width: 30%;
        height: 50%;  
        margin: 0 0 1.5em 0;
    }
    .activity-prev__image{
        height: 80%;
    }
    .activity-prev__caption{
        text-align: center;
        margin: 0;
        padding: 1em 0 0 0;
    }
}


/* ----------------------------------  Footer ----------------------------------- */


.footer{
    background-color: #F2F2F2;
    display: flex;
    padding: 0 9em 1.88em 3.1em;
}

.footer section{
    flex-grow: 1;
    margin-top: 1.88em;
}

.footer h3{
    font-family: 'Raleway-Bold';
    font-size: 1.3em;
}

.footer ul{
    list-style: none;
    padding: 0;
}

.footer li{
    margin-bottom: 0.75em;    
}

/* mobile */
@media screen and (max-width: 600px){
    .footer{
        flex-direction: column;
        justify-content: space-around;
        padding: 0 0 3em 2em;
    }
    .footer section{
        margin-top: 0;
    }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px){
    .footer{
        padding: 0 2em 0 2em;
        justify-content: space-around;
        margin-top: 2em;
    }

}